/* .nav {
    display:inline;
    justify-content: space-between;
    align-items:center;

   
}
.nav-items{
    display: flex;
    list-style:none;
    float:right;

    
    
    
}
.facts {
    padding:30px;
}
.nav-items > li{
    padding-left: 10px;
    padding-right:10px
}
.img1 {
    width: 10em;
   
    
} */